* {
    margin: 0;
    padding: 0;
}


body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    font-family: 'Montserrat', sans-serif; 
}


h1, h2 {
    font-weight: 400;
    
}

.menu {
    display: flex;
    text-align: end;
    justify-content: flex-end;
}

.menu li {
    list-style: none;
    margin: 0 5px;
    padding: 10px;
    color: white;
    text-transform: uppercase;
        
}

.menu li a {
    text-decoration: none;
    color: white;
}

.menu li a:hover {
    color: #D2691E;
    font-weight: bold;
}

header {
    background-image:  url(./img/franca1.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    
       
}

.cover-europa {
    background-image:  url(./img/belgica.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    

}
.cover-holanda {
    background-image:  url(./img/holanda.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    
}

.cover_text {
   
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
    padding: 300px;
    font-weight: bold;
    
}

.cover_text h1 {
    margin-bottom: 40px;
}

section h1, h2, hr {
    color: #00BFFF;
}

section p {
    color: #4F4F4F;
}

.title {
    text-align: center;
    margin: 50px;
    text-transform: uppercase;
    font-size: 2rem;
    margin-top: 70px;
}


.cards img {
    width: 450px;
    height: 300px;
}

.main-cards {
    display: flex;
    flex-wrap: wrap;
}

.cards {
    width: 30%;
    margin: auto;
    margin-left: 30px;  
    margin-top: 40px;  
}


.cards h2 {
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
}

.cards p {
    text-align: justify;
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 20px;
}

.cards a img {
    opacity: 1;
    transition: opacity 0.5s;
    will-change: opacity;
}

.cards a img:hover {
    opacity: 0.5;
}


footer {
    margin-top: 50px;
    background-color: #4F4F4F;
    color: white;
}

.footer-box{
    padding: 50px;
}
footer h3 {
    text-align: center;
    text-transform: uppercase;
}

.social {
    display: flex;
    justify-content: center;
    margin: 10px;

   
}

.social i {
    font-size: 2rem;
    margin: 10px;
    
}

.social a {
    text-decoration: none;
    color: white;
}

.copyright {
    text-align: center;
}

.holanda-text {
    margin: 50px;
}

.holanda-text p {
    text-indent: 30px;
    text-align: justify;
}

@media screen and (min-width: 480px) {
    .main-cards {
        flex-direction: column;
    }

    .cards {
        width:460px;
        margin: auto;
    }

    .cover_text {
        padding: 100px;
    }
    .menu {
        display: flex;
        text-align: end;
        justify-content: space-around;
    }
    
}

@media screen and (min-width: 640px) {
    .main-cards {
        flex-direction: row;
    }
    .cards {
        width: 450px;
    }

    .cover_text {
        padding: 200px;
        text-align: center;
    }

    .menu {
        display: flex;
        text-align: end;
        justify-content: space-around;
    }
}

@media screen and (min-width: 700px) {
    .cover_text {
        padding: 300px;

    }
    .menu {
        display: flex;
        text-align: end;
        justify-content: flex-end;
    }
    
    .cards {
        width 30%;
    }
}

.form-title {
    text-align: center;
    text-transform: uppercase;
    margin: 30px;
}

form {
    width: 800px;
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: whitesmoke;
    align-items: center;
}

form div {
    margin-top: 10px;
    margin-bottom: 10px;
}

